@model OdevD1.Models.Sehirler

@{
    ViewBag.Title = "Details";
}

<h2>Şehir Detaylar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nufus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nufus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hakkinda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hakkinda)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>
