@model List<OdevD1.Models.ResimlerSlider>
@{
    ViewBag.Title = "Home Page";

}

<!--<h2>Slider</h2>!-->

<div id="mainSlider" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        @for (int i = 0; i < Model.Count; i++)
        {
            <button type="button"
                    data-bs-target="#mainSlider"
                    data-bs-slide-to="@i"
                    class="@(i == 0 ? "active" : "")">
            </button>
        }
    </div>

    <div class="carousel-inner">
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            <div class="carousel-item @(i == 0 ? "active" : "")">
                <img src="@item.ResimUrl" class="d-block w-100" style="height:400px; object-fit:cover;" />

                <div class="carousel-caption d-none d-md-block">
                    <h5>@item.Baslik</h5>
                    <p>@item.Aciklama</p>
                </div>
            </div>
        }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#mainSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#mainSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>

<div class="container mt-5">

    <div class="row">


        <div class="col-md-4 text-dark bg-primary text-center">
            <h3 class="mb-3">Çad Cumhuriyeti Hakkında</h3>

            <p>
                Çad, Orta Afrika’da yer alan ve Sahra Çölü’nden tropikal savanlara kadar
                uzanan farklı coğrafi yapılara sahip bir ülkedir.
            </p>

            <p>
                Kuzeyde çöl bölgesi, merkezde yarı-kurak Sahel kuşağı ve güneyde daha verimli
                olan Sudan Savanı bölgesi Çad'ın başlıca bölgeleridir. Ülkenin ismini aldığı Çad Gölü,
                Çad'ın en büyük ve Afrika'nın ikinci büyük sulak alanıdır
            </p>

        </div>


        <div class="col-md-4 bg-warning text-center">
            <h3 class="mb-3">Çad Cumhuriyeti Hakkında</h3>
            <p>
                Ülke, çok sayıda etnik grup ve kültürel çeşitlilik barındırır. Ekonomisi
                büyük ölçüde tarım ve hayvancılığa dayanmaktadır.
            </p>

            <p>
                Bölge 1920'de Fransa'nın egemenliğine girdi ve Fransız Ekvatoral Afrikası'na dahil edildi.
                1960'ta François Tombalbaye liderliğinde bağımsızlık ilan edildi.
            </p>

        </div>

        <div class="col-md-4 bg-danger text-center">
            <h3 class="mb-3">Genel Bilgiler</h3>

            <ul class="list-group">
                <li class="list-group-item"><strong>Başkent:</strong> N'Djamena</li>
                <li class="list-group-item"><strong>Nüfus:</strong> ~17 milyon</li>
                <li class="list-group-item"><strong>Resmi Dil:</strong> Fransızca, Arapça</li>
                <li class="list-group-item"><strong>Para Birimi:</strong> CFA Frangı</li>
            </ul>
        </div>

    </div>
</div>

<!-- <div class="container mt-5>

    <div class="col-md-6">
        <p>

        </p>
    </div>

    <div class="col-md-6">
        <p>

        </p>
    </div>

</div> !-->
